[Unit]
Description=Chatty AI Web Server
After=network.target chatty-ai-preloader.service
Before=pironman5.service
Wants=chatty-ai-preloader.service

[Service]
Type=simple
User=nickspi5
Group=nickspi5
SupplementaryGroups=audio
WorkingDirectory=/home/nickspi5/Chatty_AI
Environment=PATH=/home/nickspi5/Chatty_AI/chatty-venv/bin:/usr/bin:/bin
Environment=PULSE_RUNTIME_PATH=/run/user/1000/pulse
Environment=PYTHONPATH=/home/nickspi5/Chatty_AI
Environment=PYTHONIOENCODING=utf-8
Environment=LANG=C.UTF-8
Environment=LC_ALL=C.UTF-8

ExecStart=/home/nickspi5/Chatty_AI/chatty-venv/bin/python /home/nickspi5/Chatty_AI/chatty_ai.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target